# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Test artifacts & reports
tests/reports/
*.log

# Operating System Files
.DS_Store
Thumbs.db
desktop.ini

# Environment / IDE
.vscode/
.idea/
